.section--margin {
  margin-bottom: 30px;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.about__svg {
  width: 70px;
  height: 70px;
}

.about__after-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-align: center;

  text-transform: uppercase;
  color: var(--second-title-color);

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
