.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:first-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.contacts__our-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--body-color);

  &:focus,
  &:hover {
    color: var(--accent);
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14.06 / 12);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.17;
    font-size: 14px;
  }
}

.contacts__icon-smartphone,
.contacts__icon-envelope {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}
