.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-container {
  display: flex;
}

.address {
  margin-right: 70px;
  margin-top: 20px;
}
.address__list {
}

.address__item {
  display: block;
  width: 230px;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

a[href="https://www.google.com.ua/maps/place/бул.+Леси+Украинки,+26"]
{
  color: var(--first-text-color);
}

.footer-box {
  padding-top: 12px;
  margin-right: 93px;
}
.footer-form__title,
.footer-box__text {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer-form-box {
  width: 100%;
  padding-top: 12px;
}

.footer-form__title {
  display: block;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 8px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border-radius: 4px;
}

.label-box {
  display: flex;
}

.footer-form__btn {
  display: flex;
  align-items: center;
  height: 50px;

  padding: 10px 29px;
}

.footer-form__text {
  margin-right: 10px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
