.header {
  position: relative;
  background-color: var(--first-title-color);
  border-bottom: 1px solid #ececec;
}

.header__box {
  @media screen and (min-width: 320px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
