.mob-menu-button,
.header-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: block;

  padding: 0;
  border: 0;
  background-color: transparent;
}
.mob-menu-button__icon,
.header-button__icon {
  width: 40px;
  height: 40px;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding: 48px 0;
  padding-left: 40px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu-box {
  height: 100%;
}

.mob-menu-button {
  position: absolute;
  top: 21px;
  right: 33px;
}
.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu__link--current {
  color: var(--accent);
}

.mob-contacts {
  margin-bottom: 64px;
}
.mob-contacts__item {
  font-size: 24px;
  line-height: 1.17;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-contacts__item--blue {
  color: var(--accent);
  line-height: 1.17;
  font-size: 32px;
}
.social-networks {
  display: flex;

  color: var(--accent);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02;

  //   @media screen and (min-width: 768px) {
  //     display: none;
  //   }
}

.social-networks__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
  }

  &:last-child .social-networks__text::after {
    background-color: transparent;
  }
}

.social-networks__text::after {
  display: inline-block;
  position: absolute;
  right: -10px;
  content: '';

  width: 1px;
  height: 22px;

  background-color: rgba(33, 33, 33, 0.2);
}
