.header-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
}
.header-button__icon {
  width: 40px;
  height: 40px;
}
.header-button .icon-menu-close {
  display: none;
}
