.hero__title {
  width: 695px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}
.hero__btn {
  padding: 10px 32px;
}

.hero {
  padding: 200px 0;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/fon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
