.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;

  text-transform: uppercase;
  color: var(--first-title-color);

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  padding: 10px 32px;
}

.hero {
  text-align: center;
  @media screen and (max-width: 1199px) {
    background-color: rgb(160, 49, 49);
  }
}

.overlay {
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0;

    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/fon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
