.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper__item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.gallery {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.gallery__text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  height: 100%;

  line-height: 1.6;
  font-size: 18px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .wrapper__link:focus &,
  .wrapper__link:hover & {
    transform: translateY(0);
  }
}
.gallery__after-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.gallery__indent {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.gallery__box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
