.team {
  background-color: #f5f4fa;
}

.team-list__team-box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: 0;
}

.team__title {
  @include title();
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list__item {
  width: 270px;
  margin-right: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team-list__after-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-title-color);
}

.team-list__team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
