.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filters__item {
  & + & {
    margin-left: 8px;
  }
}
.filters__buttons {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--first-text-color);
    background-color: var(--accent);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
