.logo {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent);

  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
  }
}

.logo-footer {
  margin: 0;
  padding: 0;
}
.logo__text {
  color: #000000;
}
.logo__text--white {
  color: var(--first-text-color);
}
