.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);

  transform: scale(1) translate(-50%, -50%) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: scale(0.5) rotate(180deg) translate(200px, 200px);
  }
}

.modal__btn {
  @include centeredflex;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus .modal-svg,
  &:hover .modal-svg {
    fill: var(--accent);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 12px;
}
.modal-form__label {
  display: block;
  position: relative;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within .modal-form__icon {
    fill: var(--accent);
  }

  &:focus-within .modal-form__input {
    border-color: var(--accent);
  }
  &:focus-within .modal-form__textarea {
    border-color: var(--accent);
  }
}
.modal-form__icon {
  position: absolute;
  left: 11px;
  bottom: 12px;

  width: 18px;
  height: 18px;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
}
.modal-form__textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.label-checkbox-text {
  display: flex;
  align-items: center;
  margin: 20px 11px 30px;
  text-align: end;

  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

.modal-span {
  @include centeredflex();
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 5px;
  border-radius: 4px;

  fill: transparent;

  .checkbox:checked + .label-checkbox-text & {
    border: none;
    fill: #ffffff;
    background-color: var(--accent);
  }
}
.label-checkbox-link {
  text-decoration-skip-ink: none;
  color: var(--accent);
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  letter-spacing: 0.06em;
  background-color: #2196f3;
}
